.container{
    
    margin:180px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    background-color: rgb(241, 90, 241);
    width: 50%;
    height: 70%
}
.container1{
    width: 70%;
    height: auto;
    
}
img{
    width: 100%;
}
  h2{
    text-align: center;
  }  
  span{
    font-size: smaller;
    color: gray;
  }
p{
    margin-left: 5px;
    margin-right: 5px;
}
